<main class="container mt-2 component-container">
  <div class="p-2 border-service w-100 child-component-container">
    <h3 class="text-center">Bar chart</h3>
    <app-bar-chart></app-bar-chart>
  </div>
  <div class="p-2 border-service w-100 child-component-container">
    <h3 class="text-center">Line chart</h3>
    <app-line-chart></app-line-chart>
  </div>
  <div class="p-2 border-service w-100 child-component-container">
    <h3 class="text-center">Pie chart</h3>
    <app-pie-chart></app-pie-chart>
  </div>
</main>
